{{ define "main" }}
{{ $banners := dict
  "angebot" "/images/header/Angebot.jpg"
  "loesungen" "/images/header/ZwyssigInformatik.jpg"
  "methode" "/images/header/Allgemein.jpg"
  "kompetenzen" "/images/header/ZwyssigInformatik.jpg"
  "firma" "/images/header/Kontakt.jpg"
  "impressum" "/images/header/Impressum.jpg" }}
{{ $banner := .Params.banner | default (index $banners .File.ContentBaseName) }}
{{ with $banner }}<div class="page-banner" role="presentation" style="background-image:url('{{ . | relURL }}')"></div>{{ end }}
<article class="page">
  <div class="wrap">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
</article>
{{ end }}
